.logo {
  background-color: #292929;
  position: absolute;
  width: 1440px;
  height: 100px;
  left: 0px;
  top: 0px;
}

.logo1 h2 {
  position: absolute;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  padding-top: 10px;
  width: 115px;
  height: 45px;
  text-align: center;
  left: 30px;
  top: 15px;
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: lighter;
}

.text h1{
  position: absolute;
width: 490px;
height: 282px;
left: 77px;
top: 189px;

font-family: sans-serif;
font-style: normal;
font-weight: 700;
font-size: 52px;
line-height: 74px;
letter-spacing: -0.01em;

word-spacing: 1000px;

color: #FFFFFF;
}

.movie {
  display: flex;
  flex-direction: row;
}

.card{
  
  margin: 10px;
  
}


